/* ==UserStyle==
@name           W9x for 4chan
@description    Transform 4chan into a Windows 9x interface
@version        0.4
@author         (You)

@namespace      https://github.com/2641a40fd44383320adde4b027a1d0b03bd550
@homepageURL    https://github.com/2641a40fd44383320adde4b027a1d0b03bd550/4chan-win95
@supportURL     https://github.com/2641a40fd44383320adde4b027a1d0b03bd550/4chan-win95/issues

@preprocessor   stylus
==/UserStyle== */

pseudoelement() {
	for i in arguments {
		&::-{i} {
			{block}
		}
	}
}

@-moz-document domain("4chan.org"), domain("4channel.org") {
	/**
	 * Variables
	**/
	:root {
		--color-button-text: #000;
		--color-button-face: #c0c0c0;
		--color-button-highlight: #fff;
		--color-button-shadow: #808080;
		--color-button-shadow-dark: #000;
		--color-button-checked: #dfdfdf;
		--color-window-text: #000;
		--color-window: #fff;
		--color-active-caption-text: #fff;
		--color-active-caption: #000080;
		--color-info-background: #ffffc0;
		--color-tree-border: #87888f;
		--color-highlight-text: #fff;
		--color-highlight: #000080;
		--color-gray-text: #808080;
		--color-gray-text-dark: #404040;
		--color-link: #00f;
		--color-hover: #dfdfff;

		// Font
		--font-family: 'MS Sans Serif', 'MS Reference Sans Serif', 'Liberation Sans', Tahoma, sans-serif;
		--font-family-monospace: 'Fixedsys Excelsior 3.01', 'MS Gothic', 'MS Mincho', 'MS PGothic', 'MS PMincho', monospace;
		--font-size: 11px;
		--font-size-text: 14px;
		--font-size-bigger: 13px;
		--font-size-header: 14px;
		--font-line: 1.2;
		--font-line-text: 1.2;
		--font: var(--font-size)\/var(--font-line) var(--font-family);
		--font-monospace: var(--font-size)\/var(--font-line) var(--font-family-monospace);
		--font-text: var(--font-size-text)\/var(--font-line-text) var(--font-family);
		--font-header: var(--font-size-header)\/var(--font-line) var(--font-family);

		// Border
		--button-3d-border-color-exact: var(--color-button-face) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-face);
		--button-3d-box-shadow-exact:
			0 -1px 0 0 var(--color-button-highlight),
			-1px 0 0 0 var(--color-button-highlight),
			-1px -1px 0 0 var(--color-button-highlight),
			-1px 1px 0 0 var(--color-button-shadow-dark),
			1px 0 0 0 var(--color-button-shadow-dark),
			1px 1px 0 0 var(--color-button-shadow-dark);
		--button-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight);
		--button-3d-border-color-inverted: var(--color-button-shadow) var(--color-button-highlight) var(--color-button-highlight) var(--color-button-shadow);
		--button-3d-box-shadow:
			1px 0 0 var(--color-button-shadow-dark),
			0 1px 0 var(--color-button-shadow-dark),
			1px 1px 0 var(--color-button-shadow-dark);
		--box-3d-border-color: var(--color-button-shadow-dark) var(--color-button-face) var(--color-button-face) var(--color-button-shadow-dark);
		--box-3d-box-shadow:
			0 -1px 0 0 var(--color-button-shadow),
			-1px 0 0 0 var(--color-button-shadow),
			-1px -1px 0 0 var(--color-button-shadow),
			-1px 1px 0 0 var(--color-button-highlight),
			1px 0 0 0 var(--color-button-highlight),
			1px 1px 0 0 var(--color-button-highlight);
		--group-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight);
		--group-3d-box-shadow:
			0 -1px 0 0 var(--color-button-shadow),
			-1px 0 0 0 var(--color-button-shadow),
			-1px -1px 0 0 var(--color-button-shadow),
			-1px 1px 0 0 var(--color-button-highlight),
			1px 0 0 0 var(--color-button-highlight),
			1px 1px 0 0 var(--color-button-highlight);
		--window-3d-box-shadow:
			0 -1px 0 0 var(--color-button-face),
			-1px 0 0 0 var(--color-button-face),
			-1px -1px 0 0 var(--color-button-face),
			-1px 1px 0 0 var(--color-button-shadow-dark),
			1px 0 0 0 var(--color-button-shadow-dark),
			1px 1px 0 0 var(--color-button-shadow-dark);
	}

	/**
	 * Global
	**/
	body {
		image-rendering: pixelated;
		font: var(--font);
		margin: 8px;
		padding: 0;
	}
	::selection {
		background-color: var(--color-highlight);
		color: var(--color-highlight-text);
	}
	::placeholder {
		color: var(--color-gray-text);
	}
	:focus {
		outline: dotted 1px var(--color-button-text);
		outline-offset: -4px;
	}
	code, pre, kbd {
		font: var(--font-monospace) !important;
	}
	table {
		border-spacing: 4px;
	}
	td {
		font: var(--font);
	}
	hr {
		border-top: 1px solid var(--color-button-highlight);
		box-shadow: 0 -1px 0 0 var(--color-button-shadow);
		margin-top: 4px;
		margin-bottom: 5px;
	}
	fieldset {
		border-color: var(--group-3d-border-color) !important;
		border-radius: 0 !important;
		box-shadow: var(--group-3d-box-shadow);
		padding: 12px 8px 4px 8px !important;
		margin: 0 0 8px 0 !important;
		position: relative;
	}
	legend {
		background-color: var(--color-button-face);
		font-weight: normal !important;
	}

	// Controls
	input, button, select, textarea {
		appearance: none;
		filter: none !important; // Tomorrow theme fix
		box-sizing: border-box;
		font: var(--font) !important;
		border: 1px solid;
		border-radius: 0 !important;
		height: 19px;

		&:disabled {
			background-color: var(--color-button-face) !important;
			color: var(--color-gray-text) !important;
		}
	}
	input {
		/.field,
		/select,
		/textarea,
		&:not([type]),
		&[type="url"],
		&[type="text"],
		&[type="number"],
		&[type="search"],
		&[type="password"] {
			background-color: var(--color-window) !important;
			color: var(--color-window-text) !important;
			outline: none;
			box-shadow: var(--box-3d-box-shadow);
			padding: 2px !important;
			margin: 0 2px;

			// Override the bullshit !important
			&, &:focus {
				border-color: var(--box-3d-border-color) !important;
			}
		}

		/button,
		&[type="button"],
		&[type="submit"] {
			background: var(--button-img, none) var(--color-button-face) no-repeat center !important;
			color: var(--color-button-text) !important;
			border-color: var(--button-3d-border-color-exact) !important;
			box-shadow: var(--button-3d-box-shadow-exact);
			padding: 3px 0 !important;
			margin: 0 6px;
			width: 74px;
			height: unset;

			&:active {
				border-color: var(--color-button-shadow) !important;
				box-shadow: 0 0 0 1px var(--color-button-shadow-dark) !important;
			}
		}

		&[type="checkbox"],
		&[type="radio"] {
			background: var(--control-img) no-repeat center;
			outline: none;
			margin: 0;
		}
		&[type="checkbox"] {
			background-color: var(--color-window);
			border-color: var(--box-3d-border-color);
			box-shadow: var(--box-3d-box-shadow);
			width: 11px;
			height: 11px;

			&:active {
				background-color: var(--color-button-face);
			}
			&:checked {
				--control-img:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFklEQVQIHWNgYmBj6GO4w/CDoYBBAQARtAL73JP0cgAAAABJRU5ErkJggg==');
			}
		}
		&[type="radio"] {
			--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAALElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPP/f0bBIDGF/zwM/AwfGBj+MwAA5NMUe8YWpVIAAAAASUVORK5CYII=');
			border: none;
			width: 12px;
			height: 12px;

			&:active {
				--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=');
			}
			&:checked {
				--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC');

				&:active {
					--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAPklEQVQI102KwQmAQBADh8UGwlXgVqCkgX3Yf02Gw4chzEAI0E3SUlyyNdSyr+H0vXxE0l97/C6FzcCzG4QvQrwH+/BK284AAAAASUVORK5CYII=');
				}
			}
		}

		&[type="number"] {
			padding: 0 !important;
			padding-left: 1px !important;

			+pseudoelement(
				moz-number-spin-up,
				moz-number-spin-down,
				webkit-inner-spin-button
			) {
				appearance: none;
				opacity: 1;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARAgMAAAB/ZB4yAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAA1SURBVAjXY1i1atUChv3//19g2LVq1QSGXStAxAKtCRDu1NDQAAYwAKpbwYCuGKwOrANFMQDd7SXzerZgGwAAAABJRU5ErkJggg==');
				margin-right: -1px;
				width: 16px;
				height: 17px;
			}
		}
		&[type="range"] {
			background-color: transparent;
			border: none;
			box-shadow: none !important;
			padding: 8px 4px 12px 4px;
			margin: -4px !important;
			height: 31px;

			@supports (-moz-appearance: none) {
				height: unset;
				padding-bottom: 8px;
			}

			+pseudoelement(moz-range-track, webkit-slider-runnable-track) {
				border: 1px solid;
				border-color: var(--box-3d-border-color);
				box-shadow: var(--box-3d-box-shadow);
				margin: 4px;
				height: 0;
			}
			+pseudoelement(moz-range-thumb, webkit-slider-thumb) {
				--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAKklEQVQI12NwAQEBBmdjY2MjelAsQEqRgQHIBXIYgFwQh4HBSQBMMQIxAL3XFEiuWtpeAAAAAElFTkSuQmCC');
				appearance: none;
				background: var(--control-img);
				border: none;
				border-radius: 0;
				margin: -4px;
				width: 11px;
				height: 21px;

				&:active {
					--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAVBAMAAABiXgn+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAANElEQVQI12NwAQEBBmdjY2MjIAUETkDKxMSERjwWY2dnRQYGIBfIYQByQRwGBicBMMUIxABhtBY+Cv3r7wAAAABJRU5ErkJggg==');
				}
			}
			&::-webkit-slider-thumb {
				margin-top: -9px;
			}
		}
	}
	select {
		--control-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAAxSURBVAjXY1i1atUKhv3//39h2LVq1RIMgoEJSDRwAYkFWkBiBRYlcGJqaGgIAwgAAFaAKE0Wbou6AAAAAElFTkSuQmCC');
		background: var(--control-img) var(--color-window) no-repeat 100% !important;
		padding: 0 !important;
		padding-right: 18px !important;

		@supports not (-moz-appearance: none) {
			padding-left: 1px !important;
		}

		&:focus {
			outline: none; // unable to do right side, as it conflicts with the arrow
		}
		&:active {
			--control-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAJUExURQAAAIeIj8DHyDTRDdUAAAAjSURBVAjXYwgFAoasVatW4iEaGIDEAiYgsYILJKaFRzHIPAD7uSQKZIptlQAAAABJRU5ErkJggg==');
		}
		&:disabled {
			--control-img:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAA0SURBVAjXY1i1atUKhv3//39h2LVq1RIMIjQMSEyNBxJL64DEyl8giVdLsCqeGhoawgACAK8JKkoQnva4AAAAAElFTkSuQmCC');
		}
	}
	label {
		text-decoration: none !important;
		display: inline-flex;
		align-items: center;
		gap: 7px;
		position: relative;
		cursor: default;

		&:has(:focus)::before {
			content: '';
			position: absolute;
			left: 17px;
			right: -3px;
			height: 100%;
			outline: dotted 1px var(--color-button-text);
		}
	}

	::-webkit-scrollbar {
		background: repeating-conic-gradient(
			#c0c7c8 0% 25%,
			var(--color-window) 0% 50%
		);
		background-size: 2px 2px;

		&-button,
		&-thumb {
			@extend button;
			border-color: var(--color-button-face) var(--color-button-shadow-dark) var(--color-button-shadow-dark) var(--color-button-face) !important;
			box-shadow:
				inset 1px 1px 0 var(--color-button-highlight),
				inset -1px -1px 0 var(--color-button-shadow) !important;
		}

		&-button {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAtSURBVBhXY/z//z8DDDAygrj/GaFcBiYoDZZApkEALIksAAJwhUCMIoEADAwA3ckMC4nTcHYAAAAASUVORK5CYII=');

			../, & {
				width: 16px;
				height: 16px;
			}

			&:increment {
				--button-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAArSURBVBhXY2RgYPgPxFgB0////0EKMABInAnGAItAAYwPlgQBmABCIQMDAIflEvtEtJMHAAAAAElFTkSuQmCC');
			}

			&:horizontal {
				--button-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAySURBVBhXTYwBCgAwCAK1///ZZa22gygPkpIwkFTcu4J3iQmGOe8nieywXOrll1vaEjisghAJeJVSAgAAAABJRU5ErkJggg==');

				&:increment {
					--button-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAySURBVBhXRY3JDQAwCMOS7r8zxZEAPzgsDkuqhhwewXalayJgZFYohp0Abq2YwxH3RfqHzhAHIWlRxQAAAABJRU5ErkJggg==');
				}
			}
		}

		&-corner,
		&-resize {
			background-color: #c0c7c8;
		}
	}

	/**
	 * Remove elements
	**/
	[href="https://gitreports.com/issue/ccd0/4chan-x"], // Dead link
	.middlead + hr, .navLinksBot + hr, // Double borders
	#qr select, #autohide // QR header select & checkbox
	{
		display: none !important;
	}

	/**
	 * Content
	**/
	.fa::before {
		font-size: var(--font-size);
	}
	.bottomCtrl {
		padding-bottom: 8px;
	}

	/**
	 * 4chan X dialogs
	**/
	.new {
		color: green !important;
	}
	.current {
		background-color: var(--color-highlight) !important;
		color: var(--color-highlight-text) !important;
		font-weight: normal !important;
	}

	// Global
	.dialog {
		background-color: var(--color-button-face) !important;
		color: var(--color-button-text) !important;
		border: 1px solid !important;
		border-color: var(--button-3d-border-color) !important;
		border-radius: 0 !important;
		box-shadow: var(--window-3d-box-shadow) !important;
		padding: 2px !important;

		& > .move,
		& > nav::before {
			background-color: var(--color-active-caption) !important;
			color: var(--color-active-caption-text) !important;
			font-weight: 700;
			padding: 2px !important;
			padding-left: 20px !important;
			height: 14px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		& > .move::before,
		& > nav::after {
			content: '';
			position: absolute;
			left: 4px;
			width: 16px;
			height: 16px;
			background-image: var(--dialog-img);
		}
		.close {
			@extend button;
			--button-img:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHAQMAAAAPl54dAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFElEQVQI12M4zJDGYMMgAcRpDIcBFDwC4+02LWIAAAAASUVORK5CYII=');
			margin-right: 1px;
			width: 14px !important;
			height: 12px !important;
			cursor: default;

			&, &::before {
				font-size: 0 !important;
			}
		}
	}
	[href="https://www.4chan-x.net/"] {
		top: -14px;
		right: 23px;

		/#t-help, & {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJAQMAAAArVM/eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFElEQVQI12OoYDgDhBIMBkDIACIBIyIC6Wx0X1sAAAAASUVORK5CYII=');
			font-size: 0 !important;
			padding: 0 !important;
			width: 14px !important;
			height: 12px !important;
			position: absolute;
			z-index: 1;
		}
		/#t-help, .win95-userscript & {
			top: 5px;
		}
	}

	// Settings
	#overlay {
		background-color: unset;
	}
	#fourchanx-settings {
		--dialog-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEUAAABmZgCZmZn/+/Dn59aZmQD//5kzMwAcHBzAwMDMzGZNTU0AAADq6upmZmYzAACtqZA/egufAAAAAXRSTlMAQObYZgAAAHJJREFUGNNNzVESgyAMRVEu8QVLBdz/aosU1DvDzyGThPgURtG22XfBZ9/3uJU3mMU18QC8oC/EjBvOlE5cBGleoegCGQvEBWhCcneycDcGkPAM2cUETG6eZceAgolmudElhForJOBooPCP1F//XLBw9APHJgNeldevuwAAAABJRU5ErkJggg==');
		max-width: 100vh;
		height: 75vh;
		position: relative;

		& > nav {
			padding: 8px;
			padding-bottom: 0;
			margin-top: 17px;
			position: relative;
			z-index: 1;

			&::before {
				content: 'Settings';
				position: absolute;
				left: 0;
				top: -17px;
				right: 0;
			}
			&::after {
				left: 2px;
				top: -15px;
			}
		}
		.close {
			position: absolute;
			top: -14px;
			right: 4px;
		}

		label {
			display: inline-flex;
		}
		textarea {
			margin-top: 12px;
		}
	}
	.section-container {
		padding: 0;
		margin: 8px 6px;
		margin-top: 1px;
		border: 1px solid;
		border-color: var(--button-3d-border-color);
		box-shadow: var(--window-3d-box-shadow);
		position: unset;

		& > section {
			margin: 14px;
		}

		a {
			color: var(--color-link);
			text-decoration: none !important;

			&:hover {
				color: var(--color-link) !important;
				text-decoration: underline !important;
			}
		}
	}
	.sections-list {
		font-size: 0;
		display: flex;
		align-items: end;

		& > a {
			--color-tab-border: var(--color-button-highlight);
			background-color: var(--color-button-face);
			color: var(--color-button-text) !important;
			font-size: var(--font-size);
			font-weight: normal;
			text-decoration: none !important;
			border: 1px solid;
			border-bottom: none;
			border-color: var(--button-3d-border-color);
			border-radius: 2px 2px 0 0;
			box-shadow:
				1px 0 var(--color-button-shadow-dark),
				1px 1px var(--color-tab-border);
			// TODO: the text moves left/right for some reason
			margin: 0 1px -1px 0;
			padding: 2px 6px;
			cursor: default;
		}
		& > .tab-selected {
			--color-tab-border: var(--color-button-face);
			margin: 0 0 -1px -2px;
			padding: 3px 6px;
			z-index: 1;
		}
	}
	.credits {
		font-size: 0;
		margin-right: -5px;
		margin-top: -5px;
		display: flex;
		align-items: center;
		gap: 3px;

		.win95-userscript & {
			margin: 8px 6px;
			margin-top: 0;

			& > .close {
				top: 5px !important;
				z-index: 1;
			}
		}

		& > a {
			font-size: var(--font-size);

			&[href] {
				@extend .section-container a;
			}
		}
	}
	[href="https://www.4chan-x.net/"],
	#sauce-doc > label,
	.export,
	.import,
	.reset {
		@extend button;
		margin: 0;
		display: flex;
		justify-content: center;
		cursor: default;

		&:hover {
			color: var(--color-button-text) !important;
		}
	}
	.reset {
		font-size: 0 !important;

		&::before {
			content: 'Reset';
			font: var(--font);
		}

		&,
		/.export,
		/.import {
			&::after {
				content: '...';
				font: var(--font);
			}
		}
	}
	[href="https://github.com/ccd0/4chan-x/blob/master/CHANGELOG.md"] {
		&::before {
			content: 'Version: ';
		}
		&::after {
			content: ' (Changelog)';
		}
	}

	.description {
		color: var(--color-gray-text);
		margin: 2px 0 4px 12px;
		display: block;

		button + & {
			margin-left: 1px;
			display: unset;
		}

		&::before {
			content: ': ';
			position: absolute;
			background-color: var(--color-button-face);
			color: transparent;
		}
	}
	.suboption-list {
		&::before {
			border-left: 1px dotted var(--color-tree-border) !important;
			left: 5px;
			top: calc(var(--font-size) * -1 - 8px);
			height: calc(100% - var(--font-size));
		}

		& > div {
			padding-left: 20px;

			&::before {
				left: 5px;
				width: 12px;
				height: 6px;
				border-bottom: 1px dotted var(--color-tree-border) !important;
				border-left: none;
			}

			&:last-of-type {
				background-color: unset !important;
			}
		}
		& > div:last-of-type::before,
		& > div > & > div:last-of-type::before {
			border-left: 1px dotted var(--color-tree-border) !important;
		}
		& > div > &::after {
			content: '';
			position: absolute;
			left: -15px;
			top: -26px;
			width: 1px;
			height: 100%;
			background-color: var(--color-button-face);
		}
	}
	[data-name="Stubs"] + div > button {
		margin: 0;
	}
	.section {
		&-filter, &-sauce {
			height: calc(100% - 28px);

			textarea {
				margin-top: 0 !important;
				height: 100%;
				resize: none !important;
			}
		}
		&-sauce, &-advanced {
			ul {
				list-style-type: disc;
			}
			li {
				margin-left: 20px;
			}
		}
		&-filter {
			& > div {
				height: 100%;
				position: relative;
			}
			& > select {
				position: absolute;
				top: 24px;
				right: 6px;

				.win95-userscript & {
					top: unset;
					bottom: 13px;
				}
			}
			ul {
				padding-bottom: 4px;
			}
		}
		&-advanced .note {
			background-color: var(--color-info-background);
			border: 1px solid var(--color-button-shadow-dark);
			box-shadow: inset 0 0 0 1px #c0c7c8;
			font: var(--font);
			padding: 8px 16px;
			margin: 0;

			& + :not([class])::before {
				content: '';
				display: block;
				border-top: 1px solid var(--color-button-highlight);
				box-shadow: 0 -1px 0 0 var(--color-button-shadow);
				margin-top: 4px;
				margin-bottom: 5px;
			}
		}
	}
	#sauce-doc {
		max-height: 100% !important;

		& > label {
			font-size: 0;
			margin: 0;
			gap: 0;
			position: absolute;
			right: 8px;
			bottom: 10px;

			&::before {
				content: 'Show Field';
				font: var(--font);
			}
		}

		&-expand:not(:checked) ~ textarea,
		&-expand:checked + & > :not(label) {
			display: none;
		}
		&-expand:checked + & > label::before {
			content: 'Show Guide';
		}
	}
	#update-archives {
		margin-left: 2px;
		margin-top: 6px;
	}
	#lastarchivecheck + label {
		margin-left: 6px;
	}
	#apply-css {
		position: absolute;
		top: 6px;
		right: 0;
	}
	legend {
		& + div:not(:last-child) > .field {
			margin-bottom: 12px;
		}
		& + textarea,
		& + div > textarea {
			margin-top: 0 !important;
		}
	}

	// Menu
	#menu, .focused > .submenu {
		padding: 1px !important;
		display: flex;
		flex-direction: column;
	}
	.gallery-link > .submenu > :first-child {
		order: 101 !important;
	}
	.report-link, .copy-text-link {
		order: 81 !important;
	}
	.gallery-link,
	[title="Fappe Tyme"]:not(:first-child),
	[title="Maximum number of replies to show."],
	[title="Open videos with the sound unmuted."],
	[data-type="header"] .submenu > [href="javascript:;"],

	.edit-link,
	.toggle-you,
	.copy-text-link,
	[data-type="post"] > [style="order: 60;"],

	[title="Show what page watched threads are on."],
	[title="Only show watched threads from the current board."],

	.gallery-link > .submenu > :nth-child(5),
	[title="Expand all images along with spoilers."],

	#menu > [style="order: 107;"],
	#menu > [style="order: 107;"] > .submenu > :nth-child(5),

	[title="Automatically fetch new posts."],
	[title="Scroll updated posts into view. Only enabled at bottom of page."],
	#menu > [style="order: 110;"] > .submenu > :last-child {
		margin-top: 9px !important;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -5px;
			width: 100%;
			height: 1px;
			@extend hr;
			margin: 0;
		}
	}
	#menu {
		#header-bar & {
			top: calc(var(--font-size) * var(--font-line) + 5px) !important;
		}

		// Make the main menu's borders not appear above children
		& > ::before {
			z-index: -1;
		}
	}
	.has-submenu::after {
		background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAySURBVBhXRY3JDQAwCMOS7r8zxZEAPzgsDkuqhhwewXalayJgZFYohp0Abq2YwxH3RfqHzhAHIWlRxQAAAABJRU5ErkJggg==');
		border: none;
		margin: 0;
		right: 4px;
		width: 4px;
		height: 7px;
	}
	.entry {
		font: var(--font) !important;
		padding: 1px 20px;
		display: flex;
		align-items: center;

		a&, & > a {
			color: inherit !important;
			text-decoration: none !important;
		}
		&.focused {
			--color-gray-text: var(--color-active-caption-text);
			background-color: var(--color-active-caption) !important;
			color: var(--color-active-caption-text) !important;

			&::after,
			[name="Prune Replies"],
			& > input[type="checkbox"] {
				filter: invert() !important;
			}
		}
		.left > &.has-submenu {
			padding-right: calc(.5em + 12px) !important;
		}

		input {
			&[type="checkbox"] {
				position: absolute;
				left: 4px;
				height: 100%;
				top: 0;
				background-color: unset;
				border: unset;
				box-shadow: unset;
			}
			// TODO makes the height bigger
			&[type="number"] {
				margin-left: 4px;
				margin-right: 0;
			}
		}
		.shortcut-text {
			opacity: 1;
			font: var(--font);
			color: var(--color-gray-text);
			margin-right: -16px;
		}
	}

	// Quick reply
	#qr {
		--dialog-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAbUExURQAAAP///4eIjwAAqMDHyAAA/6ioV///AAAAALn7m+4AAAAJdFJOU///////////AFNPeBIAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABeSURBVAjXNYwxCoAwEARX0lypotcH/II/EHvxA2KT2h8EbPbZ3iVxqmEXBhSHRB6N3iR2jryIgzHJ2iQcWDYnzG3BWUUR6pUulEWfW4okBf3aAaEvsCD/MlvQJMMhP36fFGstedZMAAAAAElFTkSuQmCC');

		&-filename {
			box-shadow: none;
			padding: 0 !important;
			margin: 0;
			height: unset;

			&-container {
				font: var(--font);
				gap: 4px;
				height: 19px;

				& > a {
					margin: 0;
				}
			}
		}
		&-no-file {
			color: var(--color-gray-text);
			padding: 0;
		}

		/#sjis-toggle,
		&.sjis-preview textarea {
			font: 12px 'IPAMonaPGothic', 'Mona', 'MS PGothic', monospace !important;
		}

		& > form {
			padding: 8px;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		.persona {
			gap: 4px;
			align-items: end;
			width: unset;

			& > * {
				margin: 0;
			}
			& > button {
				background-image: none;
				padding-top: 1px !important;
				flex-basis: 37px;
				height: calc(var(--font-size) * var(--font-line) + 8px);
			}
		}
		textarea {
			/input, & {
				margin: 0;
			}
		}
	}
	#file-n-submit {
		margin: 0 -6px;
		align-items: end;
		height: unset;

		& > input {
			background-image: none;
			width: 74px !important;
		}
	}
	.captcha {
		&-root,
		&-container {
			position: unset !important;
		}
		&-container > input[type="button"] {
			vertical-align: top !important;
			height: 19px !important;
		}
	}
	#t {
		&-load {
			padding: 3px 0 !important;
			margin-right: 6px !important;
			width: 74px !important;
			height: unset !important;
			vertical-align: bottom !important;
		}
		&-help {
			right: 23px;
		}
		&-resp {
			text-transform: unset !important;
		}
		&-cnt {
			margin: 4px auto !important;
		}
		&-msg {
			font: var(--font) !important;
			top: 67.5% !important;
		}
	}

	// Thread watcher
	#thread-watcher {
		--dialog-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAVUExURYeIj///AP///8DHyKgAVwAAAAAAAPtS9rYAAAAHdFJOU////////wAaSwNGAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAaklEQVQIHQXBwQ3DIBBFwa9dpQEi3w2Cux2JCtzAysicfeH1X0JmBAAgQACCNwkQmGeBeHO9ihD2lHol6d3ySNWaLNzulId8i3O/mzR+Z7NvdIUf+Wg+tcJVoiNWePeJYMWng4D1TBAAwB/9fyBfQunhXQAAAABJRU5ErkJggg==');

		.close {
			position: unset !important;
			background-position-y: 1px !important; // God knows why this needs special treatment, even if it's the exact same element
		}
		.refresh,
		.menu-button {
			@extend button;
			width: 14px !important;
			height: 12px !important;
			position: absolute;
			cursor: default;

			&::before,
			.fa::before {
				display: none;
			}
		}
		.refresh {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAAAAAKVnuc8AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwgAADsIBFShKgAAAACpJREFUCB0FwcEJACAQBLEp2dKuHRHBEua7iJwJLVciR6asYhcpHESetB+DMhVDC4r9+gAAAABJRU5ErkJggg==');
			right: 33px;
		}
		.menu-button {
			--button-img: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAkSURBVBhXY2RgYPgPxFgBSBIEsClghEmCALICZHE4QFLAwAAA+twEAr6ulF8AAAAASUVORK5CYII=');
			right: 17px;
		}
	}
	#watcher-status {
		position: absolute;
		right: 56px;
	}
	#watched-threads {
		background-color: var(--color-window);
		border: 1px solid;
		border-color: var(--box-3d-border-color);
		box-shadow: var(--box-3d-box-shadow);
		margin: 10px 8px 6px 8px;

		& > div {
			padding: 0 3px;
		}
		.watcher-link {
			color: inherit !important;
			width: 100%;
			align-items: center;

			&:hover {
				text-decoration: underline;
			}
		}
		.fa {
			color: unset;
		}
	}

	// Header
	#header-bar {
		font: var(--font) !important;
		padding: 1px !important;
		border: none !important;
		box-shadow: none !important;
		display: flex;
		justify-content: space-between;

		.brackets-wrap {
			&::before, &::after {
				content: '';
			}
		}
	}
	.shortcut {
		margin: 0;
		/*
		 * Chicago95 has a 2px border above the titlebar,
		 * but Windows 95 has 1px width.
		 */
		margin-top: -2px;

		&,
		& > a {
			display: inline-block;
		}

		&:not(#shortcut-updater):active,
		&:has(> #menu) {
			background-color: var(--color-active-caption);
			color: var(--color-active-caption-text) !important;
		}

		& > a {
			opacity: 1 !important;
			color: unset !important;
			text-decoration: none !important;
			padding: 3px 6px 2px 6px !important;
		}
	}
	.win95-userscript {
		#board-list {
			text-align: right;
			order: 1;
			flex-grow: 1;

			a {
				padding: 3px;
			}
		}
		#custom-board-list {
			font: var(--font);
			display: block !important;

			&[hidden] > .show-board-list-button {
				font-size: 0;

				&::before {
					content: '-';
					font: var(--font);
				}
			}
		}
		#full-board-list {
			position: fixed;
			right: 0;
			flex-direction: row;
			width: 25%;
			@extend .dialog
			@extend #menu
			@extend #header-bar #menu
		}
		.hide-board-list-container {
			display: none;
		}
		.boardList {
			overflow: auto hidden;

			& > span {
				display: none;
			}
			& > a {
				margin: 0 !important;
			}
		}

		#shortcut {
			&-settings > a::after {
				content: ' Dialog';
			}
			&-menu i {
				font: var(--font);
				border: none;
				margin: 0;
				@extend .shortcut > a

				&::after {
					content: 'Header Menu';
				}
			}

			/#yous, &-updater, &-stats {
				position: fixed;
				bottom: 2px;

				// TODO: maybe not make them move depending on text
				/#update-status, & {
					&::after {
						content: '';
						position: absolute;
						right: -7px;
						bottom: -2px;
						width: 2px;
						height: calc(100% + 2px);
						border: 1px solid;
						border-color: var(--color-button-face) var(--color-button-shadow) var(--color-button-face) var(--color-button-highlight);
					}
				}
			}
			&-updater {
				left: 3px;
			}
			&-stats {
				left: calc(3px + 11ch + 3px + 8px + 10ch);
			}
			/#yous {
				left: calc(12px + 11ch + 8px + 10ch + 31ch);
			}
		}
	}

	#update {
		&r {
			text-align: left !important;
		}
		&-status,
		&-timer {
			text-align: right;
			display: inline-block;
		}
		&-status {
			width: 11ch;
			position: relative;

			&.empty::before {
				content: '\00a0';
			}
		}
		&-timer {
			margin-left: 8px;
			width: 9ch;

			&[class=""]::after {
				content: ' seconds';
				white-space: pre;
			}
			&.loading::before {
				content: 'Updating';
			}
		}
	}
	#post-count::after {
		content: ' posts';
	}
	#file-count::after {
		content: ' files';
	}
	#ip-count::after {
		content: ' IPs';
	}
	#page-count::before {
		content: 'Page ';
	}

	// Content
	#content {
		border: 2px solid transparent;
		padding: 8px;
		margin-bottom: calc(var(--font-size) * var(--font-line) + 6px);
		overflow: auto;

		/.win95-userscript > body::after, &::before, &::after {
			content: '';
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&::before {
			top: calc(var(--font-size) * var(--font-line) + 5px);
			bottom: calc(var(--font-size) * var(--font-line) + 6px);
			box-shadow:
				inset -1px -1px var(--color-window),
				inset 1px 1px var(--color-button-shadow),
				inset -2px -2px #bbc3c4,
				inset 2px 2px var(--color-button-shadow-dark);
			pointer-events: none;
		}
		&::after {
			left: 1px;
			right: 1px;
			bottom: 1px;
			height: calc(var(--font-size) * var(--font-line));
			background-color: var(--color-button-face);
			padding: 1px 15px 1px 2px;
			border: 1px solid var(--button-3d-border-color-inverted);
			box-shadow: var(--box-3d-box-shadow);
		}
	}
	.win95-userscript {
		height: 100%;

		& > body {
			padding: 0 !important;
			margin: 0;
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			&::after {
				bottom: calc(var(--font-size) * var(--font-line) + 4px);
				height: 2px;
				background-color: var(--color-button-face);
			}
		}

		#header-bar {
			position: sticky !important;
			top: 0;
		}
	}
}

