/* ==UserStyle==
@name           W9x for 4chan
@namespace      github.com/openstyles/stylus
@version        0.1
@description    Transform 4chan into a Windows 9x interface

@author         (You)
@homepageURL    https://github.com/2641a40fd44383320adde4b027a1d0b03bd550/4chan-win95

@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("4chan.org"), domain("4channel.org") {
	/**
	 * Variables
	**/
	:root {
		--color-button-text: #000;
		--color-button-face: #c0c0c0;
		--color-button-highlight: #fff;
		--color-button-shadow: #808080;
		--color-button-shadow-dark: #000;
		--color-button-checked: #dfdfdf;
		--color-window-text: #000;
		--color-window: #fff;
		--color-active-caption-text: #fff;
		--color-active-caption: #000080;
		--color-info-background: #ffffc0;
		--color-highlight-text: #fff;
		--color-highlight: #000080;
		--color-gray-text: #808080;
		--color-gray-text-dark: #404040;
		--color-link: #00f;
		--color-hover: #dfdfff;
	}

	@css { :root {
		/* Font */
		--font-family: MS Sans Serif, MS Reference Sans Serif, Liberation Sans, Tahoma, sans-serif;
		--font-size: 11px;
		--font-size-text: 14px;
		--font-size-bigger: 13px;
		--font-size-header: 14px;
		--font-line: 1.2;
		--font-line-text: 1.2;
		--font: var(--font-size)/var(--font-line) var(--font-family);
		--font-text: var(--font-size-text)/var(--font-line-text) var(--font-family);
		--font-header: var(--font-size-header)/var(--font-line) var(--font-family);

		/* Border */
		--button-3d-border-color-exact: var(--color-button-face) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-face);
		--button-3d-box-shadow-exact:
			0 -1px 0 0 var(--color-button-highlight),
			-1px 0 0 0 var(--color-button-highlight),
			-1px -1px 0 0 var(--color-button-highlight),
			-1px 1px 0 0 var(--color-button-shadow-dark),
			1px 0 0 0 var(--color-button-shadow-dark),
			1px 1px 0 0 var(--color-button-shadow-dark);
		--button-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight);
		--button-3d-border-color-inverted: var(--color-button-shadow) var(--color-button-highlight) var(--color-button-highlight) var(--color-button-shadow);
		--button-3d-box-shadow:
			1px 0 0 var(--color-button-shadow-dark),
			0 1px 0 var(--color-button-shadow-dark),
			1px 1px 0 var(--color-button-shadow-dark);
		--box-3d-border-color: var(--color-button-shadow-dark) var(--color-button-face) var(--color-button-face) var(--color-button-shadow-dark);
		--box-3d-box-shadow:
			0 -1px 0 0 var(--color-button-shadow),
			-1px 0 0 0 var(--color-button-shadow),
			-1px -1px 0 0 var(--color-button-shadow),
			-1px 1px 0 0 var(--color-button-highlight),
			1px 0 0 0 var(--color-button-highlight),
			1px 1px 0 0 var(--color-button-highlight);
		--group-3d-border-color: var(--color-button-highlight) var(--color-button-shadow) var(--color-button-shadow) var(--color-button-highlight);
		--group-3d-box-shadow:
			0 -1px 0 0 var(--color-button-shadow),
			-1px 0 0 0 var(--color-button-shadow),
			-1px -1px 0 0 var(--color-button-shadow),
			-1px 1px 0 0 var(--color-button-highlight),
			1px 0 0 0 var(--color-button-highlight),
			1px 1px 0 0 var(--color-button-highlight);
		--window-3d-box-shadow:
			0 -1px 0 0 var(--color-button-face),
			-1px 0 0 0 var(--color-button-face),
			-1px -1px 0 0 var(--color-button-face),
			-1px 1px 0 0 var(--color-button-shadow-dark),
			1px 0 0 0 var(--color-button-shadow-dark),
			1px 1px 0 0 var(--color-button-shadow-dark);
	}}

	/**
	 * Global
	**/
	body {
		background: none var(--color-window);
		color: var(--color-window-text);
		font: var(--font);
		margin: 8px;
		padding: 0;
	}
	::selection {
		background: var(--color-highlight);
		color: var(--color-highlight-text);
	}
	:focus {
		outline: dotted 1px var(--color-button-text);
		outline-offset: -4px;
	}
	a, a:visited,
	.quotelink {
		color: var(--color-link) !important;
		text-decoration: none !important;

		&:hover {
			color: var(--color-link) !important;
			text-decoration: underline !important;
		}
	}
	code, pre {
		font: var(--font-monospace) !important;
	}
	hr {
		border-top: 1px solid var(--color-button-highlight);
		box-shadow: 0 -1px 0 0 var(--color-button-shadow);
		margin-top: 4px;
		margin-bottom: 5px;
	}

	input {
		/.field,
		/select,
		/textarea,
		&:not([type]),
		&[type="url"],
		&[type="text"],
		&[type="number"],
		&[type="search"],
		&[type="password"] {
			background-color: var(--color-window) !important;
			color: var(--color-window-text) !important;
			outline: none;
			box-shadow: var(--box-3d-box-shadow);
			padding: 2px !important;
			margin: 0 2px;

			// Override the bullshit !important
			&, &:focus {
				border-color: var(--box-3d-border-color) !important;
			}
		}
		&[type="number"] {
			padding: 0 !important;
			padding-left: 1px !important;
			height: 17px;
		}
		&::placeholder {
			color: var(--color-gray-text);
		}

		/button,
		&[type="button"],
		&[type="submit"] {
			background-color: var(--color-button-face);
			color: var(--color-button-text);
			border-color: var(--button-3d-border-color-exact) !important;
			box-shadow: var(--button-3d-box-shadow-exact);
			padding: 3px 0;
			margin: 0 6px;
			width: 74px;

			&:active {
				border-color: var(--color-button-shadow) !important;
				box-shadow: 0 0 0 1px var(--color-button-shadow-dark);
			}
		}

		&[type="checkbox"],
		&[type="radio"] {
			appearance: none;
			background: no-repeat center;
			outline: none;
			margin: 0;
		}
		&[type="checkbox"] {
			background-color: var(--color-window);
			border-color: var(--box-3d-border-color);
			box-shadow: var(--box-3d-box-shadow);
			width: 11px;
			height: 11px;

			&:active {
				background-color: var(--color-button-face);
			}
			&:checked {
				background-image:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAGUExURf///wAAAFXC034AAAABdFJOUwBA5thmAAAAFklEQVQIHWNgYmBj6GO4w/CDoYBBAQARtAL73JP0cgAAAABJRU5ErkJggg==');
			}
		}
		&[type="radio"] {
			background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAALElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPP/f0bBIDGF/zwM/AwfGBj+MwAA5NMUe8YWpVIAAAAASUVORK5CYII=');
			width: 12px;
			height: 12px;

			// TODO: I hope there is a way to do it without images
			&:active {
				background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAOElEQVQI12NgYFBSYgACJUFBIM0kaGws6MDAJGxsbODAoGgMBCzYKagSJgZjYwYHBgYXMAISQBIAZBYIx/Jku34AAAAASUVORK5CYII=');
			}
			&:checked {
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURf///wAAAIeIj////88rXQEAAAABdFJOUwBA5thmAAAAMElEQVQI12NgWMXAwBW6gEH1fwyD+v8zDPOvf2aYHwrFQDZITOE/DwM/wwcGhv8MAL1zEtdwC089AAAAAElFTkSuQmCC');

				&:active {
					background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAPUExURf///wAAAIeIj8DHyP///1QVyYYAAAABdFJOUwBA5thmAAAAPklEQVQI102KwQmAQBADh8UGwlXgVqCkgX3Yf02Gw4chzEAI0E3SUlyyNdSyr+H0vXxE0l97/C6FzcCzG4QvQrwH+/BK284AAAAASUVORK5CYII=');
				}
			}
		}

		&[type="range"] {
			box-shadow: none !important;
		}
	}
	input, button, select, textarea {
		font: var(--font) !important;
		border: 1px solid;
		border-radius: 0 !important;

		&:disabled {
			background-color: var(--color-button-face) !important;
			color: var(--color-gray-text) !important;
		}
	}
	select {
		appearance: none;
		background:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAAxSURBVAjXY1i1atUKhv3//39h2LVq1RIMgoEJSDRwAYkFWkBiBRYlcGJqaGgIAwgAAFaAKE0Wbou6AAAAAElFTkSuQmCC') var(--color-window) no-repeat 100% !important;
		padding: 0 !important;
		padding-right: 18px !important;
		height: 19px;

		&:focus {
			outline: none; // unable to do right side, as it conflicts with the arrow
		}
		&:active {
			background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAJUExURQAAAIeIj8DHyDTRDdUAAAAjSURBVAjXYwgFAoasVatW4iEaGIDEAiYgsYILJKaFRzHIPAD7uSQKZIptlQAAAABJRU5ErkJggg==') !important;
		}
		&:disabled {
			background-image:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARAgMAAACpwcRXAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMUExURQAAAIeIj8DHyP///zDHlOAAAAA0SURBVAjXY1i1atUKhv3//39h2LVq1RIMIjQMSEyNBxJL64DEyl8giVdLsCqeGhoawgACAK8JKkoQnva4AAAAAElFTkSuQmCC') !important;
		}
	}
	label {
		text-decoration: none !important;
		display: inline-flex;
		align-items: center;
		gap: 6px;
	}

	/**
	 * Remove elements
	**/
	#togglePostFormLink, .qr-link-container, .qr-link-container-bottom, // "Reply to thread"
	.middlead + hr, .navLinksBot + hr, // Double borders
	#autohide, // QR header checkbox

	// I do not want to style the footer,
	// but feel free to return it as an option.
	#boardNavDesktopFoot, #absbot {
		display: none;
	}

	/**
	 * Content
	**/
	.name, .quote {
		color: #080 !important;
		font-weight: normal !important;
	}

	// Bottom
	.bottomCtrl {
		margin-top: 0;
		margin-bottom: 8px;

		input[type="checkbox"] {
			margin-right: 6px;
		}
	}

	/**
	 * 4chan X windows
	**/
	// Global
	#overlay {
		background-color: unset;
	}
	.dialog {
		background-color: var(--color-button-face) !important;
		color: var(--color-button-text) !important;
		border: 1px solid !important;
		border-color: var(--button-3d-border-color) !important;
		border-radius: 0 !important;
		box-shadow: var(--window-3d-box-shadow) !important;
		padding: 0 !important;

		& > .move {
			background-color: var(--color-active-caption) !important;
			color: var(--color-active-caption-text) !important;
			padding: 4px;
		}
		.close {
			background-color: var(--color-button-face);
			color: var(--color-button-text) !important;
			border: 1px solid;
			border-color: var(--button-3d-border-color-exact);
			box-shadow: var(--button-3d-box-shadow-exact);
			padding: 0 2px !important;
			cursor: pointer;

			&:active {
				border-color: var(--color-button-shadow);
				box-shadow: 0 0 0 1px var(--color-button-shadow-dark);
			}
		}
	}

	// Settings
	#fourchanx-settings {
		padding: 0;

		& > nav {
			background-color: var(--color-active-caption);

			a {
				color: var(--color-active-caption-text) !important;
			}
		}
		& > div {
			padding: 8px;
		}

		label {
			display: inline-flex;
		}
	}
	.suboption-list > div:last-of-type {
		background-color: unset !important;
	}
	fieldset {
		border: 1px solid !important;
		border-color: var(--group-3d-border-color) !important;
		border-radius: 0 !important;
		box-shadow: var(--group-3d-box-shadow);
		padding: 12px 8px 4px 8px !important;
		margin: 0 0 6px 0 !important;
	}
	legend {
		background-color: var(--color-button-face);
		font-weight: normal !important;
	}

	// Menu
	#menu, .focused > .submenu {
		padding: 1px !important;
		display: flex;
		flex-direction: column;
	}
	.gallery-link > .submenu > :first-child {
		order: 101 !important;
	}
	.report-link, .copy-text-link {
		order: 81 !important;
	}
	.gallery-link,
	[title="Fappe Tyme"],
	[title="Maximum number of replies to show."],
	[data-type="header"] .submenu > [href="javascript:;"],

	.edit-link,
	.toggle-you,
	[data-type="post"] > [style="order: 60;"],

	[title="Show what page watched threads are on."],
	[title="Only show watched threads from the current board."],

	.gallery-link > .submenu > :nth-child(5),
	[title="Expand all images along with spoilers."],

	#menu > [style="order: 107;"],
	#menu > [style="order: 107;"] > .submenu > :nth-child(5),

	[title="Automatically fetch new posts."],
	[title="Scroll updated posts into view. Only enabled at bottom of page."],
	#menu > [style="order: 110;"] > .submenu > :last-child {
		margin-top: 9px !important;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -5px;
			width: 100%;
			height: 1px;
			background-color: var(--color-button-highlight);
			box-shadow: 0 -1px 0 0 var(--color-button-shadow);
		}
	}
	// Make the main menu's borders not appear above children
	#menu > ::before {
		z-index: -1;
	}
	.entry {
		font: var(--font) !important;
		padding: 1px;
		padding-left: 20px;
		padding-right: calc(0.5em + 12px);
		display: flex;
		align-items: center;

		a&, & > a {
			color: inherit !important;
			text-decoration: none !important;
		}
		&.focused {
			background-color: var(--color-active-caption) !important;
			color: var(--color-active-caption-text) !important;

			[name="Prune Replies"],
			& > input[type="checkbox"] {
				filter: invert();
			}
		}
		.left > &.has-submenu {
			padding-right: calc(.5em + 12px) !important;
		}

		input {
			&[type="checkbox"] {
				position: absolute;
				left: 4px;
				height: 100%;
				top: 0;
				background-color: unset;
				border: unset;
				box-shadow: unset;
			}
			// TODO makes the height bigger
			&[type="number"] {
				margin-left: 4px;
				margin-right: 0;
			}
		}
	}

	// Quick reply
	#qr {
		border-radius: 0;
		padding: 0;

		// TODO .field above
		&-filename-container {
			margin: 0 8px !important;
		}
		&-no-file {
			color: var(--color-gray-text);
			padding: 0;
		}

		& > form {
			padding: 8px;
		}
		.persona > input {
			margin-left: 8px;

			&:first-of-type {
				margin-left: 0;
			}
		}
		input, textarea {
			margin: 0;
		}
		textarea, .captcha-root {
			margin-top: 8px;
		}
	}
	#file-n-submit {
		margin-top: 0;
		height: unset;

		& > input {
			background-image: none;
			width: unset !important;
		}
	}
}
